@model IEnumerable<Checkboxes2.Models.Skill>

@{
    ViewData["Title"] = "Kompetenser";
}

<h1>Kompetenser</h1>

<p>
    <a asp-action="Create">Lägg ny kompetens</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SkillId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SkillId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SkillId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
